.logoImage {
  width: 10vw;
  height: auto;
}

.mainform {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Line {
  width: 100%;
  height: 2px;
  background-color: black;
  margin-bottom: 20px;
}

.Title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_item {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  border-bottom: 2px solid black;
}

.form_button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: green;
  cursor: pointer;
}